%script{ :type => "text/x-handlebars" }

  .row

    %aside.large-3.columns.text-center

      = image_tag "tastethispicture.png"

      .taste-this-picture TASTE.THIS.PICTURE

      .since Daily photography since 2011

    .large-9.columns
