!!! 5
%html
  %head
    %title TASTE.THIS.PICTURE
    %meta{ :description => "" }
    %link{ :href => "/assets/application.css", :rel => "stylesheet", :type => "text/css" }
    %script{ :src => "/assets/application.js" }

  %body= yield
