@import "foundation/settings";
@import "foundation";

@font-face {
  font-family: "OpenSans-Bold";
  src: url(/fonts/opensans-bold-webfont.eot);
  src: url(/fonts/opensans-bold-webfont.eot?#iefix) format("eot"), url(/fonts/opensans-bold-webfont.ttf) format("truetype"), url(/fonts/opensans-bold-webfont.woff) format("woff"), url(/fonts/opensans-bold-webfont.svg) format("svg");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url(/fonts/opensans-light-webfont.eot);
  src: url(/fonts/opensans-light-webfont.eot?#iefix) format("eot"), url(/fonts/opensans-light-webfont.ttf) format("truetype"), url(/fonts/opensans-light-webfont.woff) format("woff"), url(/fonts/opensans-light-webfont.svg) format("svg");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(/fonts/opensans-regular-webfont.eot);
  src: url(/fonts/opensans-regular-webfont.eot?#iefix) format("eot"), url(/fonts/opensans-regular-webfont.ttf) format("truetype"), url(/fonts/opensans-regular-webfont.woff) format("woff"), url(/fonts/opensans-regular-webfont.svg) format("svg");
}

@font-face {
  font-family: "OpenSans-Semibold";
  src: url(/fonts/opensans-semibold-webfont.eot);
  src: url(/fonts/opensans-semibold-webfont.eot?#iefix) format("eot"), url(/fonts/opensans-semibold-webfont.ttf) format("truetype"), url(/fonts/opensans-semibold-webfont.woff) format("woff"), url(/fonts/opensans-semibold-webfont.svg) format("svg");
}

body {
  background: #f2f2f2;
  color: #bbb;

  aside {

    img {
      margin: 45px 0 30px;
    }

    .taste-this-picture {
      font-size: 24px;
      margin-bottom: 0.75rem;
    }

    .since {
      font-size: 13px;
    }
  }
}
